<div class="gap-2 flex items-center justify-center w-full flex-col">
  <h3 class="font-bold text-purple-400 text-xl">OR</h3>
  <div
    id="g_id_onload"
    data-client_id="1065830407735-0fpap34bp2saq1ruv0tmd2asnc35n2ie.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-callback="handleGoogleSignIn"
  ></div>

  <div
    class="g_id_signin"
    data-type="standard"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left"
  ></div>
</div>