<div class="h-screen w-screen flex items-center justify-center bg-surface-900">
  <div
    class="p-8 rounded-lg shadow-lg bg-surface-card border-l-4 border-primary-500"
  >
    <h1 class="text-2xl font-bold text-center mb-6 text-primary-500">
      Sign In
    </h1>

    <div
      id="g_id_onload"
      data-client_id="1065830407735-0fpap34bp2saq1ruv0tmd2asnc35n2ie.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-callback="handleGoogleSignIn"
      data-itp_support="true"
      data-referrer_policy="strict-origin-when-cross-origin"
    ></div>

    <div
      class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="filled_black"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left"
    ></div>
  </div>
</div>
